        body{
            display: flex;
            justify-content: center;
            background: linear-gradient(123deg,blue,red);
            font-size: large;
        
        }
        #container{
            background-color: #abcafa;
            border: solid;
            border-radius: 50px;
            width: 52rem;
            height: 29rem;
            margin: 5% 0% 0%;
        }
    
        #inputTask{
            position: relative;
            top:2rem;
            left: 13rem;
            height: 30px;
            border-radius: 10px;

        }
        #inputTask:hover{
            background-color: rgb(53, 246, 53);
        }
        #inputText{
            position: relative;
            top:2rem;
            left: 13rem;
            width: 335px;
            height: 25px;
            border-radius: 10px;

        }
        #listcontainer{
            overflow:auto;
            position: relative;
            top: 10%;
            width: 50%;
            height: 80% ;
            margin:0% 0% 0% 25% ;
            z-index: 100;
            background-color: white;
            border: solid;
            border-radius: 10px;
     }
        h2{
            display: inline-block;
            position: relative;
            left: 175px;
            border: solid red;
            border-radius: 10px;
            background-color: rgb(114, 114, 255);
        }
        ul li.checked{
            color:#495656;
            text-decoration: line-through;
            list-style: none;
            user-select: none;
            position: relative;
            cursor: pointer;
            
        }
         ul li:hover{
            color:red
        }
        button{
            border-radius: 10px;
        }
        button:hover{
            background-color: red;
            cursor: pointer;
        }
        h1{
            margin-left: 293px;
        }
